# Python
__pycache__/
*.py[cod]
.venv/
venv/
backend/.venv/

# Environment variables
.env

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Node / React
node_modules/
dist/
build/

# OS/editor files
.DS_Store
.vscode/

# Pytest
.pytest_cache/